{% extends "layout.html" %}
{% block container %}


<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">  
  
<a href="alumnos" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Nuevo</a>
  <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-medium border-b border-default-medium">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="table-checkbox" type="checkbox" value="" class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft">
                        <label for="table-checkbox" class="sr-only">Table checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    APATERNO
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    CORREO
                </th>
                <th scope="col" class="px-6 py-3  font-medium">
                    Accion
                </th>
            </tr>
        </thead>
        <tbody>
          <tr class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="table-checkbox-4" type="checkbox" value="" class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft">
                        <label for="table-checkbox-4" class="sr-only">Table checkbox</label>
                    </div>
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    Magic Mouse 2
                </th>
                <td class="px-6 py-4">
                    Black
                </td>
                <td class="px-6 py-4">
                    Accessories
                <td class="flex items-center px-6 py-4">
                    <a href="#" class="font-medium text-fg-brand hover:underline">Editar</a>
                    <a href="#" class="font-medium text-danger hover:underline ms-3">Detalles</a>
                    <a href="#" class="font-medium text-danger hover:underline ms-3">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</div>

{% endblock %}
