{% extends "layout.html" %}
{% block container %}
{% from "_macros.html" import camposNuevos %}

<a href="index" class="font-medium text-fg-brand hover:underline">Volver</a>
    <img style="width:100px; height:100px;"
        class="object-cover rounded-full md:mr-6"
        src="{{ url_for('static', filename='img/img.png') }}"
        >

    <div class="object-cover w-12 h-12 rounded-full md:mr-6">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-heading">
            Nombre: {{nombre}}
        </h5>
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-heading">
            Apellido: {{apellidos}}
        </h3>
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-heading">
            Email: {{email}}
        </h3>
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-heading">
            Especialidad: {{especialidad}}
        </h3>
    </div>
</a>

{% endblock %}